@import "~styles/variables";
.ui-toolbar {
  height: 100%;
  background: transparent !important;
}

.ui-panelmenu-content {
  padding: 0 !important;
}

.ui-inputtext {
  width: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ui-inputgroup {
  margin-bottom: 8px;
}

.ui-chkbox-label {
  margin-top: 8px;
}

.ui-card-title {
  color: $primary-blue !important;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active,
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  background: $primary-blue !important;
  color: white !important;
}

.ui-state-active {
  background: rgb(238, 238, 238) !important;
  color: black;
}
